.memory > .card {
    outline: 0.08em solid silver;
    cursor: default;
    text-align: center;
  }
  
  .memory > .card.hidden {
    background: silver;
  }
  
  .memory > .card.justMatched,
  .memory > .card.justMismatched {
    outline: 0.1em solid green;
  }
  .memory > .card.justMismatched {
    outline-color: red;
  }
  
  .memory > .card.visible {
    cursor: not-allowed;
    pointer-events: none;
  }
  
  .memory > .card > .symbol {
    margin: auto;
  }